In [1]:
import numpy as np
import pandas as pd
import scipy
from scipy import stats

from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
#assigning the csv to a dataframe
adv = pd.read_csv('Advertising.csv')
#printing the top of the csv
adv.head()

#calling values using iloc 
tv = adv.iloc[:,1:2].values
sls = adv.iloc[:,4:5].values

   Unnamed: 0     TV  radio  newspaper  sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9